<section class="md:px-8 flex flex-col negative-m md:px-8 md:flex-row w-full">
    <div class="flex-1 md:my-8 hidden md:block">
        <img src="assets/img/pexels-mike-b-244206.jpg" class="h-full" alt="">
    </div>
    <div class="bg-green-600 flex-1 p-8">
        <h1 class="text-left text-white text-xl font-bold "> About Us</h1>
        <h1 class="text-center text-4xl font-bold text-slate-100 mt-4"> Welcome to Adroit Autos </h1>

        <p class="text-left text-xl text-white pr-4 mt-8"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolorem ea labore similique pariatur fugit consequuntur reprehenderit, impedit dolor esse laboriosam doloremque aperiam quod eligendi nulla. Fuga, reprehenderit eum? Similique. </p>
        <p class="text-left text-xl text-white pr-4 mt-4"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolorem ea labore similique pariatur fugit consequuntur reprehenderit, impedit dolor esse laboriosam doloremque aperiam quod eligendi nulla. Fuga, reprehenderit eum? Similique. </p>
        <p class="text-left text-xl text-white pr-4 mt-8"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolorem ea labore similique pariatur fugit consequuntur reprehenderit, impedit dolor esse laboriosam doloremque aperiam quod eligendi nulla. Fuga, reprehenderit eum? Similique. </p>
        <div class="w-full flex justify-center mt-12">
            <button class="px-16 py-4 bg-sky-400 text-md font-bold text-white rounded"> Rent A Car Now  </button>
        </div>
    </div>
</section>
<!--  Customer Review  -->
<section class="container mx-auto mt-8">
<div>
    <p class="text-sky-500 font-bold text-md text-center mb-2"> TESTIMONIAL </p>
    <h1 class="text-4xl font-bold text-center"> Happy Clients</h1>
</div> 
<div class="flex flex-col md:space-x-6 mt-16 md:flex-row">
    <div class="bg-slate-100 rounded pb-8 w-full p-4">
        <img src="assets/img/person2.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
        <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
        <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
        <p class="text-center text-blue-800 text-md"> System Analyst </p>
        
    </div>
    <div class="bg-slate-100 rounded pb-8 w-full p-4">
        <img src="assets/img/person1.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
        <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
        <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
        <p class="text-center text-blue-800 text-md"> System Analyst </p>
        
    </div>
    <div class="bg-slate-100 rounded pb-8 w-full p-4">
        <img src="assets/img/person3.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
        <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
        <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
        <p class="text-center text-blue-800 text-md"> System Analyst </p>
        
    </div>
</div>
</section>
<section class="bg-sky-800 py-32 mt-8 bg-[url('assets/img/pexels-svh-2684219.jpg')] object-cover bg-center bg-cover bg-no-repeat">
    <div class="text-center text-white text-5xl font-bold">
        Do You Want To Earn With Us?
    </div>
    <div class="text-center text-white text-5xl font-bold">
        So Don't Be Late 
    </div>
    <div class="mt-4 flex justify-center">
        <button class="px-16 py-4 bg-green-500 text-md font-bold text-white rounded"> Become a Driver  </button>
    </div>
</section>