<section class="bg-black text-white px-16 py-12">
    <div class="flex flex-col md:space-x-6 mt-16 md:flex-row">
        <div class="p-2 flex-1">
            <h2 class="text-left font-bold text-xl mb-8">Adroit Autos</h2>
            <p class="text-left ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis libero excepturi, corrupti temporibus labore obcaecati.</p>
        </div>
        <div  class="p-2 flex-1">
            <h2 class="text-left font-bold text-xl mb-8"> Information </h2>
            <div>
                <div> <a href="./dist/about.html">About</a>  </div>
                <div class="cursor-pointer"> Services </div>
                <div class="cursor-pointer"> Best Price Guarantee </div>
                <div class="cursor-pointer"> Privacy & cookies Policy </div>
                <div class="cursor-pointer"> Terms and Condition </div>
            </div>
        </div>
        <div  class="p-2 flex-1">
            <h2 class="text-left font-bold text-xl mb-8"> Customer Support  </h2>
            <div>
                <div class="cursor-pointer"> FAQ </div>
                <div class="cursor-pointer"> Payment Option  </div>
                <div class="cursor-pointer"> Booking Tips  </div>
                <div class="cursor-pointer"> How it works </div>
                <div class="cursor-pointer"> <a href="./dist/contact.html"></a>  </div>
            </div>
        </div>
        <div  class="p-2 flex-1">
            <h2 class="text-left font-bold text-xl mb-8">Have a Question </h2>
            <p class="text-left ">Lorem ipsum dolor sit amet.</p>
            <p class="text-left">+234 78997589</p>
            <p class="text-left">infor@badoo.com</p>
        </div>
    </div>

    <div class="text-center mt-8">
        copyright &copy; 20222 All right reserved
    </div>
</section>