<section class="md:px-32 md:py-12">
    <div class="bg-slate-100 runded flex flex-col md:flex-row p-4 rounded">
        <div class="flex-1">
            <img src="assets/img/pexels-svh-2684219.jpg" class="md:w-40 md:h-40 w-full" alt="">
        </div>
        <div class="p-4 flex-1 flex items-end">
            <div>
                <h4 class="text-xl font-bold text-slate-700"> Cheverolet </h4>
                <p class="text-md"> Rated : </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per Hour Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$10.99 <span class="text-slate-400">/ hour </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per day Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$60.99 <span class="text-slate-400">/ day </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Leasing
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$600.99 <span class="text-slate-400">/ month </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
    </div>

    <div class="bg-slate-100 runded flex flex-col md:flex-row p-4 rounded mt-4">
        <div class="flex-1">
            <img src="assets/img/pexels-svh-2684219.jpg" class="md:w-40 md:h-40 w-full" alt="">
        </div>
        <div class="p-4 flex-1 flex items-end">
            <div>
                <h4 class="text-xl font-bold text-slate-700"> Cheverolet </h4>
                <p class="text-md"> Rated : </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per Hour Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$10.99 <span class="text-slate-400">/ hour </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per day Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$60.99 <span class="text-slate-400">/ day </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Leasing
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$600.99 <span class="text-slate-400">/ month </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
    </div>

    <div class="bg-slate-100 runded flex flex-col md:flex-row p-4 rounded mt-4">
        <div class="flex-1">
            <img src="assets/img/pexels-svh-2684219.jpg" class="md:w-40 md:h-40 w-full" alt="">
        </div>
        <div class="p-4 flex-1 flex items-end">
            <div>
                <h4 class="text-xl font-bold text-slate-700"> Cheverolet </h4>
                <p class="text-md"> Rated : </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per Hour Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$10.99 <span class="text-slate-400">/ hour </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Per day Rate
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$60.99 <span class="text-slate-400">/ day </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
        <div class="p-4 flex-1 hover:font-bold">
            <div class="bg-slate-800 text-white p-3 rounded hidden md:block">
                Leasing
            </div>
            <div class="mt-5">
                <p class="text-sky-500 text-xl tracking-wider text-center">$600.99 <span class="text-slate-400">/ month </span> </p>
                <p class="text-sky-500 text-sm text-center mt-2 tracking-wider">$3/hour fuel surchanges </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-sky-800 py-32 mt-8 bg-[url('assets/img/pexels-svh-2684219.jpg')] object-cover bg-center bg-cover bg-no-repeat">
    <div class="text-center text-white text-5xl font-bold">
        Do You Want To Earn With Us?
    </div>
    <div class="text-center text-white text-5xl font-bold">
        So Don't Be Late 
    </div>
    <div class="mt-4 flex justify-center">
        <button class="px-16 py-4 bg-green-500 text-md font-bold text-white rounded"> Become a Driver  </button>
    </div>
</section>
