 <!--  Better way to get your perfect car  -->
 <section class="container mx-auto negative-m px-8 flex flex-col py-8 md:flex-row">
    <!--  Form container -->
    <div class="bg-sky-500  p-4 rounded pb-8 flex-1">
        <h1 class="text-white text-3xl font-bold"> Make your trip</h1>
        <form action="">
            <div class="py-2">
                <label for="" class="text-sm font-bold text-white "> PICK-UP LOCATION </label>
                <input type="text" placeholder="City, Airport, Station, etc" class="py-2 px-2 w-full rounded text-xs border-solid border-2 border-slate-200 focus:border-slate-200 focus:outline-0 bg-sky-500 text-stone-200 placeholder:text-st">
            </div>
            <div class="py-2">
                <label for="" class="text-sm font-bold text-white "> DROP-OFF LOCATION </label>
                <input type="text" placeholder="City, Airport, Station, etc" class="py-2 px-2 w-full rounded text-xs border-solid border-2 border-slate-200 focus:border-slate-200 focus:outline-0 bg-sky-500 text-stone-200 placeholder:text-stone-200">
            </div>
            <div class="flex space-x-6">
                <div class="py-2">
                    <label for="" class="text-sm font-bold text-white "> PICK-UP DATE </label>
                    <input type="text" placeholder="Date" class="py-2 px-2 w-full rounded text-xs border-solid border-2 border-slate-200 focus:border-slate-200 focus:outline-0 bg-sky-500 text-stone-200 placeholder:text-stone-200">
                </div>
                <div class="py-2">
                    <label for="" class="text-sm font-bold text-white "> DROP-OFF LOCATION </label>
                    <input type="text" placeholder="Date" class="py-2 px-2 w-full rounded text-xs border-solid border-2 border-slate-200 focus:border-slate-200 focus:outline-0 bg-sky-500 text-stone-200 placeholder:text-stone-200">
                </div>
            </div>
            <div class="py-2">
                <label for="" class="text-sm font-bold text-white "> PICK-UP TIME </label>
                <input type="text" placeholder="Time" class="py-2 px-2 w-full rounded text-xs border-solid border-2 border-slate-200 focus:border-slate-200 focus:outline-0 bg-sky-500 text-stone-200 placeholder:text-stone-200">
            </div>
            <div class="w-full flex justify-center">
                <button class="px-16 py-4 bg-green-400 text-md font-bold text-white rounded"> Rent A Car Now  </button>
            </div>
        </form>
    </div>
    <!--  Text container  -->
        <div class="justify-center items-center flex-2 p-4 md:px-8 my-8 bg-slate-100 py-8 my-auto">
            <h1 class="text-xl font-bold text-center md:text-left "> Better way To Rent Your Perfect Cars </h1>
            <div class="md:flex-row flex flex-col space-x-6 mt-4">
                <div class="mt-4">
                    <img src="assets/img//icons8-location-update-96.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
                    <p class="text-center"> Choose Your Pickup Location</p>
                </div>
                <div class="mt-4">
                    <img src="assets/img/icons8-hand-shake-64.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
                    <p class="text-center"> Select the Best Deal</p>
                </div>
                <div class="mt-4">
                    <img src="assets/img/icons8-car-100.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
                    <p class="text-center"> Reserve Your Rental Car</p>
                </div>
            </div>
            <div class="mt-8">
                <button class="px-16 py-4 bg-sky-500 text-md font-bold text-white rounded"> Reserve Your Perfect Car  </button>
            </div>
        </div>
</section>
<!--  what we offer -->
<section class="px-4 md:px-16">
    <div>
        <p class="text-sky-500 font-bold text-md text-center mb-2"> WHAT WE OFFER </p>
        <h1 class="text-4xl font-bold text-center"> Featured Vehicles</h1>
    </div> 
    <div class="flex flex-col md:space-x-6 mt-16 md:flex-row">
        <div class="bg-slate-100 rounded pb-8 w-full flex-1">
            <img src="assets/img/pexels-mike-b-120049.jpg" class="rounded object-cover w-full" alt="" srcset="">
            <p class="mt-4 px-4 text-xl font-bold"> Mercedes Grand Sedan </p>
            <div class="flex justify-between px-4">
                <p class="text-slate-500 font-bold"> Cheverolet </p>
                <p>$500/day</p>
            </div>
            <div class="flex justify-center space-x-6 px-8 mt-4">
                <div class="px-12 bg-green-400 rounded text-md text-center text-white py-2 cursor-pointer">
                    Book
                </div>
                <div class="px-12 rounded bg-sky-400 text-md text-center text-white py-2 cursor-pointer">
                    Detail
                </div>
            </div>
        </div>
        <div class="bg-slate-100 rounded pb-8 w-full flex-1"> 
            <img src="assets/img/pexels-mike-b-120049.jpg" class="rounded object-cover w-full" alt="" srcset="">
            <p class="mt-4 px-4 text-xl font-bold"> Mercedes Grand Sedan </p>
            <div class="flex justify-between px-4">
                <p class="text-slate-500 font-bold"> Cheverolet </p>
                <p>$500/day</p>
            </div>
            <div class="flex justify-center space-x-6 px-8 mt-4">
                <div class="px-12 bg-green-400 rounded text-md text-center text-white py-2 cursor-pointer">
                    Book
                </div>
                <div class="px-12 rounded bg-sky-400 text-md text-center text-white py-2 cursor-pointer">
                    Detail
                </div>
            </div>
        </div>
        <div class="bg-slate-100 rounded pb-8 w-full flex-1">
            <img src="assets/img/pexels-mike-b-120049.jpg" class="rounded object-cover w-full" alt="" srcset="">
            <p class="mt-4 px-4 text-xl font-bold"> Mercedes Grand Sedan </p>
            <div class="flex justify-between px-4">
                <p class="text-slate-500 font-bold"> Cheverolet </p>
                <p>$500/day</p>
            </div>
            <div class="flex justify-center space-x-6 px-8 mt-4">
                <div class="px-12 bg-green-400 rounded text-md text-center text-white py-2 cursor-pointer">
                    Book
                </div>
                <div class="px-12 rounded bg-sky-400 text-md text-center text-white py-2 cursor-pointer">
                    Detail
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our service  -->
<section class="container mx-auto mt-8">
    <div>
        <p class="text-sky-500 font-bold text-md text-center mb-2"> SERVICES </p>
        <h1 class="text-4xl font-bold text-center"> Our Latest Services </h1>
    </div> 
    <div class="flex flex-col md:space-x-6 mt-16 md:flex-row">
        <div class="p-2">
            <img src="assets/img/icons8-wedding-64.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
            <h2 class="text-center font-bold text-xl">Wedding Ceremony</h2>
            <p class="text-center ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis libero excepturi, corrupti temporibus labore obcaecati.</p>
        </div>
        <div  class="p-2">
            <img src="assets/img/icons8-car-100.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
            <h2 class="text-center font-bold text-xl"> City Transfer</h2>
            <p class="text-center "> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae enim in doloribus amet? Necessitatibus, repellendus.</p>
        </div>
        <div  class="p-2">
            <img src="assets/img/icons8-car-100.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
            <h2 class="text-center font-bold text-xl">Airport Transfer</h2>
            <p class="text-center ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit modi pariatur itaque nisi numquam quis!</p>
        </div>
        <div  class="p-2">
            <img src="assets/img/icons8-car-100.png"  class="mx-auto mt-2 h-20 w-20" alt="" srcset="">
            <h2 class="text-center font-bold text-xl">Whole City Tour</h2>
            <p class="text-center ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dolor quae ab quam perspiciatis ea?</p>
        </div>
    </div>
</section>
<!--  Customer Review  -->
<section class="container mx-auto mt-8">
    <div>
        <p class="text-sky-500 font-bold text-md text-center mb-2"> TESTIMONIAL </p>
        <h1 class="text-4xl font-bold text-center"> Happy Clients</h1>
    </div> 
    <div class="flex flex-col md:space-x-6 mt-16 md:flex-row">
        <div class="bg-slate-100 rounded pb-8 w-full p-4">
            <img src="assets/img/person1.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
            <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
            <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
            <p class="text-center text-blue-800 text-md"> System Analyst </p>
            
        </div>
        <div class="bg-slate-100 rounded pb-8 w-full p-4">
            <img src="assets/img/person2.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
            <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
            <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
            <p class="text-center text-blue-800 text-md"> System Analyst </p>
            
        </div>
        <div class="bg-slate-100 rounded pb-8 w-full p-4">
            <img src="assets/img/person3.jpg" class="rounded-full h-32 w-32 mx-auto" alt="" srcset="">
            <p class="mt-4 px-4 text-xl text-center text-slate-500 py-4 pb-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum laborum sit, architecto quod pariatur! </p>
            <h1 class="text-xl font-bold text-center pb-2">Rigger Scot</h1>
            <p class="text-center text-blue-800 text-md"> System Analyst </p>
            
        </div>
    </div>
</section>
<section class="bg-sky-800 py-32 mt-8 bg-[url('assets/img/pexels-svh-2684219.jpg')] object-cover bg-center bg-cover bg-no-repeat">
    <div class="text-center text-white text-5xl font-bold">
        Do You Want To Earn With Us?
    </div>
    <div class="text-center text-white text-5xl font-bold">
        So Don't Be Late 
    </div>
    <div class="mt-4 flex justify-center">
        <button class="px-16 py-4 bg-green-500 text-md font-bold text-white rounded"> Become a Driver  </button>
    </div>
</section>

