<section class="flex flex-col px-4 py-8 container mx-auto md:flex-row md:space-x-6">
    <div class=" md:flex-1 p-4 md:border-2 md:my-auto">
        <div class="bg-slate-200 p-8 rounded">
            <p class="text-xl text-slate-600"> Address : </p>
            <h1 class="text-xl font-bold"> 198 West 21th Street, Suit 721 New York NY 10010 </h1>
        </div>
        <div class="bg-slate-200 p-8 mt-4 rounded">
            <p class="text-xl text-slate-600"> Phone : </p>
            <h1 class="text-xl font-bold"> +1234567890 </h1>
        </div>
        <div class="bg-slate-200 p-8 mt-4 rounded">
            <p class="text-xl text-slate-600"> Email : </p>
            <h1 class="text-xl font-bold"> info@ADROIT_Autos.com </h1>
        </div>
    </div>
    <div class="bg-slate-100 p-8 w-full md:flex-1">
        <div>
            <input type="text" placeholder="Your Name" class="px-2 py-2 w-full rounded focus:outline-0">
        </div>
        <div>
            <input type="text" placeholder="Your Email" class=" mt-4 px-2 py-2 w-full rounded focus:outline-0">
        </div>
        <div>
            <input type="text" placeholder="Subject" class="mt-4 px-2 py-2 w-full rounded focus:outline-0">
        </div>
        <div>
            <textarea name="" id="" placeholder="Your Message " cols="30" rows="10" class="mt-4 px-2 py-2 w-full rounded focus:outline-0"></textarea>
        </div>
        <div class="w-full flex justify-center mt-8">
            <button class="px-16 py-4 bg-blue-400 text-md font-bold text-white rounded"> Send Message </button>
        </div>
    </div>
</section>
<section class="bg-sky-800 py-32 mt-8 bg-[url('assets/img/pexels-svh-2684219.jpg')] object-cover bg-center bg-cover bg-no-repeat">
    <div class="text-center text-white text-5xl font-bold">
        Do You Want To Earn With Us?
    </div>
    <div class="text-center text-white text-5xl font-bold">
        So Don't Be Late 
    </div>
    <div class="mt-4 flex justify-center">
        <button class="px-16 py-4 bg-green-500 text-md font-bold text-white rounded"> Become a Driver  </button>
    </div>
</section>
